NODE_ENV=
APP_ENV=
PORT=
HOST=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=
ALLOWED_ORIGINS=
CHILD_LOGIN_PEPPER=
LOG_LEVEL=
FIRESTORE_EMULATOR_HOST=
FIREBASE_AUTH_EMULATOR_HOST=
FIREBASE_STORAGE_EMULATOR_HOST=
